.list-ele{
    font-size: 100%;
    cursor: pointer;    
}

.nav{
    max-height: 90vh;
    position: sticky; 
    z-index: 1;
    top: 5vh; 
    left: 0;
}

.active{
    color:#fff;
    background-color:rgba(240, 59, 59, 0.938);
}